<ion-header>
  <ion-toolbar>
    <ion-title>Feeds</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">


      <ion-button *ngIf="feeds.length==0" (click)="fetchData()" color="danger">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>

      <ion-button (click)="createFeed()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="ion-no-padding ion-no-margin" style="height: 25vh;">
    <ion-card-header class="ion-no-padding ion-no-margin">
      <ion-text style="position:absolute; margin-top:30px;margin-left:25px;font-size: 25pt;font-weight: bold;"
        color="primary">
        <ion-card-subtitle color="title">We &lt;3 hacker news</ion-card-subtitle>
      </ion-text>
      <ion-text
        style="position:absolute; margin-top:50px;margin-left:25px;font-size: 40pt;font-weight: bold;color:white;">
        <ion-card-title color="title">HN FEED</ion-card-title>
      </ion-text>
      <ion-img src="./assets/img/image1.jpg"></ion-img>
    </ion-card-header>
  </ion-card>
  <!-- <ion-virtual-scroll [items]="feeds"> -->

  <ion-list class="ion-no-margin ion-no-padding">
    <div *ngFor="let item of feeds">

      <ion-item *ngIf="item.story_title !=null|| item.title !=null">

        <ion-label (click)="openInNewTab(item)">
          <ion-text class="title ion-text-wrap">
            {{ item.story_title?item.story_title:item.title}}
          </ion-text> -

          <ion-text class="author">
            {{ item.author}}
          </ion-text>
        </ion-label>

        {{item.created_at | formatdate }}
        <ion-buttons slot="end">

          <ion-button (click)="deleteFeed(item._id);$event.stopPropagation();">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>

          <!-- 
        <ion-button (click)="viewFeed(item.story_url?item.story_url:item.url)">
          <ion-icon slot="icon-only" name="eye"></ion-icon>
        </ion-button> -->


        </ion-buttons>

      </ion-item>
    </div>
  </ion-list>
  <!-- </ion-virtual-scroll> -->
</ion-content>