ion-item:hover {
    --background: #fafafa;
      cursor: pointer;
}

ion-item {
    --background: #fff;
    --border-color: #ccc;
    --border-width: 1px;
}

.title {
    color: #333;
    font-size: 13pt;
}

.author {
    color: #999;
}
