<ion-header>
  <ion-toolbar>
    <ion-title>View Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This should show the url content inside the app -->
  <ion-progress-bar *ngIf="!ViewURL" type="indeterminate"></ion-progress-bar>
  <iframe remote referrerpolicy="no-referrer" *ngIf="ViewURL" [src]="ViewURL" width="100%" height="100%"></iframe>
</ion-content>