<ion-header>
  <ion-toolbar>
    New Feed
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="feedForm" (ngSubmit)="createFeed()">
    <ion-item>
      <ion-label position="floating">Story Title</ion-label>
      <ion-input type="text" formControlName="story_title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-input type="text" formControlName="author"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Url</ion-label>
      <ion-input placeholder="http://yourdomain.com or https://yourdomain.com" type="text" formControlName="url">
      </ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Comment Text</ion-label>
      <ion-textarea formControlName="comment_text"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col offset-xs="1" offset-md="4" size-md="4" size-xs="10">
        <ion-button type="submit" expand="full" [disabled]="!feedForm.valid">Submit</ion-button>
      </ion-col>
    </ion-row>





  </form>
</ion-content>